body{
    background: url(images/damir-yakupov-GN_s-23_zME-unsplash.jpg);
    width:auto;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    font-family: 'Vollkorn', sans-serif;
    position: relative;
}
.jumbotron {
    background-color: transparent;
    margin: 200px;
    text-align: center;
    color: white;
}
#action2 {
    margin-left: 700px;
    font-size: 50px;
}

#appn {
    margin-top: -200px;
    padding-bottom: 75px;
    font-size: 100px
}
#action {
    margin: -200px 200px 0px 200px;
}

.time-main {
    margin: 100px 0px 0px 0px;
}

.control {
    border-radius: 1000px;
    border-color: black;
    height: 200px;
    width: 200px;
    font-size: 50px
}
#b-s, #b-l, #b-rm, #b-rs{
    background-color: orange;
}
#b-n{
    background-color: red;
    /* Sit on top of the page content */
    top: 3-0px;
    left: 560px;
    z-index: 2;
    display: none;
}
#time-main1,#time-main2,#time-main3 {
    font-size: 100px
}
.icons {
    margin-top: 10px;
}

.laps {
    color: white;
    margin-left: 500px;
    margin-top: -200px;
    width: 80%;
    font-size: 75px;
    height:400px;
    overflow:auto;
}
